# Python Basics for Data Science
## Your First Program

In [2]:
# Print "Hello Python 101"
print("Hello Python 101")

Hello Python 101

In [5]:
# 3 types int - float - str
print(type(11))
print(type(8.7))
print(type("Hello World"))

<class 'int'>
<class 'float'>
<class 'str'>

In [7]:
# Boolean: A binary variable, having 2 possible values "True" or "False"
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [13]:
bool(1)

True

In [15]:
# Check the python version
import sys
print(sys.version)

# System setting about float type
sys.float_info

3.6.6 |Anaconda, Inc.| (default, Jun 28 2018, 17:14:51)
[GCC 7.2.0]

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [16]:
# Convert True to int
int(True)

1

In [17]:
# Convert False to int
int(False)

0

In [18]:
# Convert 1 to Boolean
bool(1)

True

In [19]:
# Convert 0 to Boolean
bool(0)

False

## Strings

In [20]:
name = "Daniel Ruiz Garcia"

In [21]:
name[0]

'D'

In [22]:
name[8]

'u'

In [23]:
name[0:6]

'Daniel'

In [27]:
name[7:16]

'Ruiz Garc'

In [28]:
name[0:15:3]

'Di iG'

## Loop Review

In [2]:
# The code in the index is executed N times, each time the value of i is increased by 1 for every execution. The statement executed is to print out the value in the list at index i
# For Loop Example
dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In [5]:
# Repeat 
months = ["January","February","March","April","May","June"]
N = 5

for i in range(N):
    print(months[i])

January
February
March
April
May

In [16]:
# Again
days = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
N = 1

for i in range(N):
    print(days[0:7:2])

['Monday', 'Wednesday', 'Friday', 'Sunday']

In [18]:
# Last one xD
animals = ["Rat","Ox","Tiger","Rabbit","Dragon","Snake","Horse"]
N = 1

for i in range(N):
    print(animals[0:7])

['Rat', 'Ox', 'Tiger', 'Rabbit', 'Dragon', 'Snake', 'Horse']

In [19]:
# Last one xD
animals = ["Rat","Ox","Tiger","Rabbit","Dragon","Snake","Horse"]
N = len(animals)

for i in range(N):
    print(animals[i])

Rat
Ox
Tiger
Rabbit
Dragon
Snake
Horse

### Print out a sequence

In [20]:
# Example of for Loop
for i in range(4, 10):
    print(i)

4
5
6
7
8
9

In [21]:
for i in range(3,6):
    print(i)

3
4
5

### Access elements in the list

In [22]:
# For each iteration, the value of the variable years behaves like the value of dates[i] in the first example
# Example of for Loop, Loop though list
dates = [1982, 1980, 1973]
for year in dates:
    print(year)

1982
1980
1973

In [23]:
chocolates = ["M&M's","Sneakers","Milkyway","Reeses","Hersey's"]
for favorite in chocolates:
    print(favorite)

M&M's
Sneakers
Milkyway
Reeses
Hersey's

In [25]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

### Change the elements in a list

In [28]:
# Use the for loop to change the elements on a list
squares = ["Red","Yellow","Green","Purple","Blue"]
N = len(squares)

for i in range(N):
    print("Before square",i,'is',squares[i])
    squares[i] = "Black"
    print("After square",i,"is",squares[i])

Before square 0 is Red
After square 0 is Black
Before square 1 is Yellow
After square 1 is Black
Before square 2 is Green
After square 2 is Black
Before square 3 is Purple
After square 3 is Black
Before square 4 is Blue
After square 4 is Black

In [3]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [6]:
# Again 
circles = ["Purple","Blue","Yellow","Red","Orange","Green"]
N = len(circles)

for i in range(N):
    print("Before circle",i,'is',circles[i])
    circles[i] = "White"
    print("Now circle",i,'is',circles[i])

Before circle 0 is Purple
Now circle 0 is White
Before circle 1 is Blue
Now circle 1 is White
Before circle 2 is Yellow
Now circle 2 is White
Before circle 3 is Red
Now circle 3 is White
Before circle 4 is Orange
Now circle 4 is White
Before circle 5 is Green
Now circle 5 is White

## While Loop
### For loop is used for controlled flow of repetition. While loop - Tool for repeated execution based on a condition

In [7]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = 0

while(year != 1973):
    year = dates[i]
    i = i + 1
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
1973
It took  3 repetitions to get out of loop.

In [9]:
# Again
numbers = [1,2,3,4,5,6,7,8]

i = 0
guess = 0

while(guess != 5):
    guess = numbers[i]
    i = i + 1
    print(guess)
    
print("It took",i,"repetitions to get out of loop.")

1
2
3
4
5
It took 5 repetitions to get out of loop.

In [11]:
# Again
letters = ["A","B","C","D","E","F","G"]

i = 0
alpha = 0

while(alpha != "D"):
    alpha = letters[i]
    i = i + 1
    print(alpha)
    
print("It took",i,"repetitions to get out of loop")

A
B
C
D
It took 4 repetitions to get out of loop

In [17]:
# Write your code below and press Shift+Enter to execute

squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
new_squares = 0

while(new_squares != 'orange'):
    new_squares = squares[i]
    i = i +1
    print(new_squares)
print("how many times",i,"took to end")

orange
how many times 1 took to end

In [13]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while(squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print (new_squares)

['orange', 'orange']

In [7]:
def add1(a):
    b = a + 1
    return b

In [4]:
c = add1(5)
c

6

In [5]:
d = add1(8)
d

9

In [9]:
# Documentation String use triple quotes """
def add1(a):
    """
    add 1 to a
    """
    b = a + 1;
    return b
# help with function add 1 in module __main__: add1(a) add 1 to a

In [10]:
def MJ():
    print("Michael Jordan")

In [12]:
MJ()

Michael Jordan

In [13]:
def add1(a):
    b = a + 1;
    print(a,'plus one equals:',b)
    return b

In [14]:
add1(4)

4 plus one equals: 5

5

In [15]:
def printStuff(Stuff):
    for i,s in enumerate(Stuff):
        print("Album",i,"Rating is",s)
album_ratings = [10,8.5,9.5]
printStuff(album_ratings)

Album 0 Rating is 10
Album 1 Rating is 8.5
Album 2 Rating is 9.5

In [1]:
def mult(a,b,c,d):
    for

SyntaxError: invalid syntax (<ipython-input-1-ae1797ec6cfe>, line 5)

In [10]:
x=1

def add(y):

    return x+y

z=add(10)
z

11

In [11]:
def f(z):

    return sum(z)
f(z)

TypeError: 'int' object is not iterable

In [ ]:
a = 4
b = 8
d = 0
c = 0

while c < b:
    d = d + a